_wandb:
    value:
        cli_version: 0.19.1
        m:
            - "1": trainer/global_step
              "6":
                - 3
              "7": []
        python_version: 3.9.21
        t:
            "1":
                - 1
                - 9
                - 11
                - 41
                - 49
                - 55
                - 103
            "2":
                - 1
                - 9
                - 11
                - 41
                - 49
                - 55
                - 103
            "3":
                - 7
                - 13
                - 23
                - 55
                - 66
            "4": 3.9.21
            "5": 0.19.1
            "6": 4.37.2
            "8":
                - 3
                - 5
            "12": 0.19.1
            "13": windows-amd64
